@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');

body{
    font-size: 'Dosis', sans-serif;
    font-size: 20px;
    background: url(../img/fundo.png);   
	margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Titilium web', sans-serif;

}

header{
    background: #000000;
	animation: fadeIn 1s ease-in-out;
}

p{
    font-family: 'Dosis, Titillium web, sans-serif'; 
}
.site{
    max-width: 1200px; /*Largura maxima do conteudo do site*/
    width: 100%;
    margin: 0 auto;
}

.topo h1{
    background: url(../img/logo-kibeleza.svg) no-repeat;
    width: 300px;
    height: 90px;
    text-indent: -9999px;
}

.topo{
	display: flex;
	justify-content: space-around;
	align-content: center;

}

.topo nav ul {
    display: flex;
    justify-content: space-between;

}

.topo nav ul li {
    display: block;
    padding: 26px 30px;
    margin: 0 15px;
}

.topo nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.topo nav ul li:hover{
    background: rgba(159,135,187,0.50); 
}

/*TOPO FIXO */
.menu-fixo{
	position: fixed;
	top:0;
	z-index: 9999;
	width: 100%;
	background:rgba(51,51,51,0.94);
	
	animation: fadeIn 1s ease-in-out;
}


.icon{
	display: flex;
	margin-bottom: 10px;
	padding: 20px;
	align-items: baseline;
}

.iconHome{
    background: url(../img/icon/home.svg) no-repeat;
    margin-left: 4px;
}

.iconSobre{
    background: url(../img/icon/sobre.svg) no-repeat;
    margin-left: 8px;
}

.iconServico{
    background: url(../img/icon/servico.svg) no-repeat;
    margin-left: 20px;
}

.iconContato{
    background: url(../img/icon/email.svg) no-repeat;
    margin-left: 20px;
}


.banner{
    width: 100%;
}

.banner .slick-next {
    right: 10px;
}
.banner .slick-prev {
    left: 10px;
    z-index: 999;
}

.banner .slick-dots {
    position: relative;
    margin-top: -80px;
}

.banner .slick-dots li button:before {
    font-size: 25px;
    opacity: 0.50;
    color: #9f87bb;
}
.banner .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #FFFFFF;
}

.sobre{
    margin: 2% 0;
}

.sobre div{
    display: flex;
    justify-content: space-around;
    
}

.sobre div article{
    width: 45%;
}

.sobre h2{
    font-size: 36px;
}

.sobre p {
    font-size: .8em;
    text-align: justify;
    border: 1px solid #000000;
    padding: 5%;
    line-height: 25px;
}

.btnSobre{
	text-decoration: none;
	color:#FFFFFF;
	font-size: .9em;
	padding: 1% 5%;
	background: #333;
	border: solid 2px #9f87bb;
	border-radius: 5px;
	float: right;
}
.btnSobre:hover{
	color:#333;
	background: #9f87bb;
	border: solid 2px #333;
}


.sobre div article img{
    width: 100%;
    margin-top: 55px;    
}

.servico{
    background: rgba(159,135,187,0.70);
    padding: 20px;
    text-align: center;
}

.servico h2{
    background: #9f87bb;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.servico hr{
    height: 3px;
    background: rgba(239,239,239,1.00);
    position: relative;
    margin-top: -3px;
    border: none;
}

.servicoum{
    display: flex;
    justify-content: space-between;
}

.servicoum article{
    width: 23%;
    background: #ffffff;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #333;
}

.servicoum article img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}


.servicoum article h3{
    color: #9f87bb;
    padding: 3% 0;
}

.servicoum p{
    text-align: justify;
    padding-bottom: 20px;
    font-size: 12px;
}

.servicoum article a{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #9f87bb;
    color: #ffffff;
    border-radius: 5px;
}


.servicoum article a:hover{
    background: #ccc;
    color: #9f87bb;
}


.equipe{
    padding: 2% 0;
    text-align: center;
}

.equipe h2{
    background: #9f87bb;
    width: 120px;
    margin: 0 auto;
    padding: 1%;
    line-height: 20px;
    border-radius: 5px 5px 0 0;
    color: #f8f8f8;
    font-weight: bold;
	font-size: 1em;
}

.equipe hr{
    height: 3px;
    background: #9f87bb;
    border: none;
    position: relative;
    margin-top: -2px;
}


.equipeum{
    display: flex;
    justify-content: space-around;
    margin: 1.5% 0;
}


.equipeum article{
    width: 15%;
}

.equipeum img{
    border-radius: 50%;
    width: 70%;
}

.equipeum h3{
    color: #9f87bb;
    padding-top: 2px;
    font-weight: bold;
    font-size: 28px;
}

.equipeum h4{
    color: #333;
    font-size: 20px;
}

.depoimento{
    background: rgba(159,135,187,0.7);
    padding: 2% 0;
    text-align: center;
}

.depoimento article{
    background: #f8f8f8;
    padding: 50px 100px;
    border-radius: 5px;
    border-top: solid 40px #333;
    border-bottom: solid 40px #333;
    
}

.depoimento p{
    color: #9f87bb;
    font-size: 20px;
    line-height: 40px;
    
}

.depoimento h2{
    color: #9f87bb;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.galeria{
    padding: 2% 0;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}


.rodape{
    background: #262626;
    border-top: solid 7px #9f87bb;
    padding: 2% 0;
    text-align: center;
}

.rodape img{
    width: 25%;
}

.rodape p{
    color: #909090;
    padding: 2% 0;
    font-size: 12px;
    
}

.facebook{
    background-image: url(../img/icon/face.svg);    
}


.twitter{
    background-image: url(../img/icon/twitter.svg);   
}

.instagram{
    background-image: url(../img/icon/instan.svg);
}

.redes-sociais li{
    display: inline-block;
}

.redes-sociais li a{
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -99999px;
}

.direitos{
    background: #000000;
    color: #909090;
    padding: 1% 0;
    text-align: center;
    margin-top: -5px;
    font-size: 16px;
}

/* ############################# PG CONTATO #############*/

.contato{
	margin-top: 2%;
	display: flex;
	justify-content:space-between;
	background-image: url(../img/contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
}

.contato article{
	width: 45%;
	color: #FFFFFF;
}

.contato article img{
	width: 100%;
}

.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea{
	background:rgba(159, 135, 187, 0.54);
	border: solid thin #1D1C1C;
	width: 100%;
	padding: 1.5%;
	color: #fff;
	margin-bottom: 2%;
	border-radius: 5px;
}

.form textarea{
	resize: none;
	height: 200px;
}

.form input[type=submit]{
	float: right;
	background: #333;
	color: #FFF;
	border: solid thin #C270F9;
	padding: 2% 10%;
	cursor: pointer;
	border-radius: 5px;
	margin-right: -20px;
}

.form input[type=submit]:hover{
	background: #FFF;
	color: #C270F9;
	border: solid thin #333;
}
.email-Ok{
	font-size: .8em;
    color: #ffffff;
}

/* MOBILE 768 */
@media (max-width:768px) {
	
}


/* FIM 768 */

@media not all and (max-width:480px){
	.abrir-menu,
	.fechar-menu{
		display: none;
	}
}


/* MOBILE 480 */
@media (max-width:480px) {
	.banner{
		display: none;
	}
	
	.topo{
		flex-direction: row;
		align-items: center;
	}
	
	.abrir-menu{
		background:url(../img/icon/menu.svg) no-repeat;
		padding: 20px;
		display: block;
		border: 0;
	}
	
	.fechar-menu{
		background:url(../img/icon/fechar.svg) no-repeat;
		padding: 20px;
		display: block;
		border: 0;
	}
	
	.topo nav{
		height: 100%;
		background:rgba(13,13,13,0.8);
		max-width: 200px;
		width: 50%;
		position: fixed;
		z-index: 9999;
		top: 0;
		
		right: -250px;
		
		transition: right .5s ease-out;
	}
	
	.topo nav ul{
		flex-direction: column;
		align-items: center;
		padding-left: 0px;
	}
	
	.menu-ativo
	.topo nav{
		right: 0;
	}
	
	.sobre div{
		flex-direction: column;
		align-items: center;
	}

	.sobre div article{
		width: 90%;
	}
	
	.btnSobre{
		padding: 2% 8%;
	}
	.sobre div article img{
		margin-top: 30px;    
	}
	
	.servicoum{
		flex-direction: column;
		align-items: center;
	}

	.servicoum article{
		width: 90%;
		margin-bottom: 10px;
	}

	.servicoum article a{
		display: block;
		width: 120px;
		height: 30px;
		margin: 0 auto;
		line-height: 28px;
		text-decoration: none;
		background: #9f87bb;
		color: #ffffff;
		border-radius: 5px;
	}

	.servicoum article a:hover{
		background: #ccc;
		color: #9f87bb;
	}
	
	.equipe h2{
		font-size: .8em;
	}
	
	.equipeum {
		flex-direction: column;
	}
	
	.equipeum article{
		width: 80%;
		margin: 0 auto;
	}
	
	.depoimento{
		padding: 4%;
	}
	
	.depoimento article {
		padding: 5% 10%;
	}
	
	.galeria{
		display: none;
	}
	
	.rodape {
		border-top: solid 4px #9f87bb;
	}

	.rodape img {
		width: 65%;
	}
	
	.rodape p {
		padding: 2% 15%;
	}
	
	.redes-sociais{
		padding-left: 0px;
	}
}

/* FIM 480 */














